$color-keyboard: #beffec;
$color-keyboard-border: darken($color-keyboard, 30%);
$button-color: #ffdca6;
$button-border-color: darken($button-color, 30%);
$button-pressed-color: #93a9ff;
$service-button-color: #f8c679;
$font-color: #474747;
$alt-font-color: #5f5f5f;